<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sdh.store.inventory.manager.product.mappers.ProductMapper">

    <resultMap id="ProductDTOResultMap" type="sdh.store.inventory.manager.product.dto.ProductDTO">
        <id property="id" column="ID_PRODUCT" />
        <result property="name" column="NAME" />
        <result property="description" column="DESCRIPTION" />
        <result property="price" column="PRICE" />
        <result property="stockQuantity" column="STOCK_QUANTITY" />
        <result property="isActive" column="ACTIVE" />

        <association property="category" javaType="sdh.store.inventory.manager.category.dto.CategoryDTO">
            <id property="id" column="ID_CATEGORY" />
            <result property="name" column="CATEGORY_NAME" />
            <result property="description" column="CATEGORY_DESCRIPTION" />
        </association>

        <association property="supplier" javaType="sdh.store.inventory.manager.supplier.dto.SupplierDTO">
            <id property="id" column="ID_SUPPLIER" />
            <result property="name" column="SUPPLIER_NAME" />
            <result property="contact" column="SUPPLIER_CONTACT" />
            <result property="phoneNumber" column="SUPPLIER_PHONE" />
            <result property="address" column="SUPPLIER_ADDRESS" />
        </association>

    </resultMap>


<!--    <select id="findAllProducts" resultMap="ProductDTOResultMap">-->
<!--        SELECT-->
<!--            P.ID                  AS ID_PRODUCT,-->
<!--            P.NAME                AS NAME,-->
<!--            P.DESCRIPTION         AS DESCRIPTION,-->
<!--            P.PRICE               AS PRICE,-->
<!--            P.STOCK_QUANTITY      AS STOCK_QUANTITY,-->
<!--            P.IS_ACTIVE           AS ACTIVE,-->
<!--            C.ID                  AS ID_CATEGORY,-->
<!--            C.NAME                AS CATEGORY_NAME,-->
<!--            C.DESCRIPTION         AS CATEGORY_DESCRIPTION,-->
<!--            S.ID                  AS ID_SUPPLIER,-->
<!--            S.NAME                AS SUPPLIER_NAME,-->
<!--            S.CONTACT             AS SUPPLIER_CONTACT,-->
<!--            S.PHONE_NUMBER        AS SUPPLIER_PHONE,-->
<!--            S.ADDRESS             AS SUPPLIER_ADDRESS-->
<!--        FROM PRODUCT P-->
<!--         LEFT JOIN CATEGORY C ON C.ID = P.CATEGORY_ID-->
<!--         LEFT JOIN SUPPLIER S ON S.ID = P.SUPPLIER_ID-->
<!--        WHERE P.IS_ACTIVE = TRUE-->
<!--        ORDER BY P.ID-->
<!--        LIMIT #{limit} OFFSET #{offset}-->
<!--    </select>-->

    <select id="findAllProducts" resultMap="ProductDTOResultMap">
        SELECT
            P.ID                  AS ID_PRODUCT,
            P.NAME                AS NAME,
            P.DESCRIPTION         AS DESCRIPTION,
            P.PRICE               AS PRICE,
            P.STOCK_QUANTITY      AS STOCK_QUANTITY,
            P.IS_ACTIVE           AS ACTIVE,
            C.ID                  AS ID_CATEGORY,
            C.NAME                AS CATEGORY_NAME,
            C.DESCRIPTION         AS CATEGORY_DESCRIPTION,
            S.ID                  AS ID_SUPPLIER,
            S.NAME                AS SUPPLIER_NAME,
            S.CONTACT             AS SUPPLIER_CONTACT,
            S.PHONE_NUMBER        AS SUPPLIER_PHONE,
            S.ADDRESS             AS SUPPLIER_ADDRESS
        FROM PRODUCT P
                 LEFT JOIN CATEGORY C ON C.ID = P.CATEGORY_ID
                 LEFT JOIN SUPPLIER_PRODUCT SP ON SP.ID_PRODUCT = P.ID
                 LEFT JOIN SUPPLIER S ON S.ID = SP.ID_SUPPLIER
        WHERE P.IS_ACTIVE = TRUE
        ORDER BY P.ID
    </select>

    <insert id="createProduct" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO PRODUCT (NAME, DESCRIPTION, PRICE, STOCK_QUANTITY, CATEGORY_ID, IS_ACTIVE)
        VALUES (#{product.name}, #{product.description}, #{product.price}, #{product.stockQuantity}, #{product.categoryId}, #{product.isActive})
    </insert>

    <select id="getProductById" resultMap="ProductDTOResultMap">
        SELECT
            P.ID                  AS ID_PRODUCT,
            P.NAME                AS NAME,
            P.DESCRIPTION         AS DESCRIPTION,
            P.PRICE               AS PRICE,
            P.STOCK_QUANTITY      AS STOCK_QUANTITY,
            P.IS_ACTIVE           AS ACTIVE,
            C.ID                  AS ID_CATEGORY,
            C.NAME                AS CATEGORY_NAME,
            C.DESCRIPTION         AS CATEGORY_DESCRIPTION,
            S.ID                  AS ID_SUPPLIER,
            S.NAME                AS SUPPLIER_NAME,
            S.CONTACT             AS SUPPLIER_CONTACT,
            S.PHONE_NUMBER        AS SUPPLIER_PHONE,
            S.ADDRESS             AS SUPPLIER_ADDRESS
        FROM PRODUCT P
         LEFT JOIN CATEGORY C ON C.ID = P.CATEGORY_ID
         LEFT JOIN SUPPLIER_PRODUCT SP ON SP.ID_PRODUCT = P.ID
         LEFT JOIN SUPPLIER S ON S.ID = SP.ID_SUPPLIER
        WHERE P.ID = #{id}
        AND P.IS_ACTIVE = TRUE
    </select>

    <update id="updateProduct">
        UPDATE PRODUCT
        SET
            NAME = #{product.name},
            DESCRIPTION = #{product.description},
            PRICE = #{product.price},
            STOCK_QUANTITY = #{product.stockQuantity},
            CATEGORY_ID = #{product.categoryId},
            IS_ACTIVE = #{product.isActive}
        WHERE ID = #{id}
    </update>

    <update id="deleteProduct">
        UPDATE PRODUCT
        SET IS_ACTIVE = FALSE
        WHERE ID = #{id}
    </update>

</mapper>
