<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sdh.store.inventory.manager.supplier.mappers.SupplierMapper">

    <resultMap id="CategoryResultMap" type="sdh.store.inventory.manager.category.dto.CategoryDTO">
        <id property="id" column="ID" />
        <result property="name" column="NAME" />
        <result property="description" column="DESCRIPTION" />
        <result property="isActive" column="IS_ACTIVE" />
    </resultMap>

    <resultMap id="SupplierResultMap" type="sdh.store.inventory.manager.supplier.dto.SupplierDTO">
        <id property="id" column="ID" />
        <result property="name" column="NAME" />
        <result property="contact" column="CONTACT" />
        <result property="phoneNumber" column="PHONE_NUMBER" />
        <result property="address" column="ADDRESS" />
        <result property="isActive" column="IS_ACTIVE"/>

    </resultMap>


    <select id="findAllSuppliers" resultMap="SupplierResultMap">
        SELECT
            S.ID                  AS ID,
            S.NAME                AS NAME,
            S.CONTACT             AS CONTACT,
            S.PHONE_NUMBER        AS PHONE_NUMBER,
            S.ADDRESS             AS ADDRESS,
            S.IS_ACTIVE           AS IS_ACTIVE
        FROM SUPPLIER S
        ORDER BY S.ID
    </select>

    <insert id="createSupplier" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO SUPPLIER (NAME, CONTACT, PHONE_NUMBER, ADDRESS, IS_ACTIVE)
        VALUES (#{supplier.name}, #{supplier.contact}, #{supplier.phoneNumber}, #{supplier.address}, #{supplier.isActive})
    </insert>

    <select id="getSupplierById" resultMap="SupplierResultMap">
        SELECT
            S.ID                  AS ID,
            S.NAME                AS NAME,
            S.CONTACT             AS CONTACT,
            S.PHONE_NUMBER        AS PHONE_NUMBER,
            S.ADDRESS             AS ADDRESS,
            S.IS_ACTIVE           AS IS_ACTIVE
        FROM SUPPLIER S
        WHERE ID = #{ id }
    </select>

    <update id="updateSupplier">
        UPDATE SUPPLIER
        SET NAME = #{supplier.name},
            CONTACT = #{supplier.contact},
            PHONE_NUMBER = #{supplier.phoneNumber},
            ADDRESS = #{supplier.address},
            IS_ACTIVE = #{supplier.isActive}
        WHERE ID = #{id}
    </update>

    <delete id="deleteSupplier">
        UPDATE SUPPLIER
        SET IS_ACTIVE = FALSE
        WHERE ID = #{id}
    </delete>

</mapper>
